.handpick-part-first-row > img {
	width: 60%;
	float: left;
}
.second-row-leftpart > img, .second-row-rightpart>img {
	width: 4.75rem;
}
.series-content > div > img {
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	text-align: center;
}
.feature-mirror-content > img, .topic-content > img {
	width: 100%;
}
